@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}
*{
    /*border: 1px solid black;*/
    font-family: 'Montserrat';
}
html{
    font-size: 16px;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
header,footer{
    flex: 0 0 auto;
}
header{
    display: flex;
    background-color: black;
}
video{
    flex: 1 0 auto;
    width: 100%;
    height: auto;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #98000D;
    position: sticky;
    top: 0;
    font-size: 2rem;
}
li {
    float: left;
    
}
.bar:hover{
    letter-spacing: 0.7rem;
    border: 1px solid #a70411 ;
    background-color: #a33c45;
    border-radius: 50px;
    text-shadow: 2px 2px 9px rgb(205, 205, 205);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active{
    text-decoration: underline;
}
#logo{
    width: 120px;
    height: 120px;
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    flex: 1 0 auto;
}
article{
    flex: 1 0 80%;
    display: flex;
    flex-wrap: wrap;
    
}
aside{
    flex: 1 0 20%;
    background-color: black;
}
aside img{

}


/* Estilos para escritorio */
@media only screen and (min-width : 1200px) {
    header{
        height: 85vh;
    }
}

   /* Estilos para tablets en orientación horizontal */
@media only screen and (min-width : 1024px) and (max-width : 1399px) {
    ul{
        font-size: 1.5rem;
    }
}

   /* Estilos para tablets en orientación vertical */
@media only screen and (min-width : 768px) and (max-width : 1023px) {
    ul{
        font-size: 1.5rem;
    }
    
}

   /* Estilos para celulares en orientación horizontal */
@media only screen and (min-width : 481px) and (max-width : 767px) {
    ul{
        font-size: 1rem;
    }
    #logo{
        width: 90px;
        height: 90px;
        margin: 0px;
        padding: 0px;
    }
}

   /* Estilos para celulares en orientación vertical */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    ul{
        font-size: 1rem;
    }
    #logo{
        width: 90px;
        height: 90px;
        margin: 0px;
        padding: 0px;
    }
    
}