@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf');
}
*{
    /*border: 1px solid black;*/
    font-family: 'Montserrat';
}
html{
    font-size: 16px;
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
header,footer{
    flex: 0 0 auto;
}
header{
    display: flex;
    background-color: black;
}
video{
    flex: 1 0 auto;
    width: 100%;
    height: auto;
}
ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #98000D;
    position: sticky;
    top: 0;
    font-size: 2rem;
    z-index: 10;
    transition: all 0.5s ease;

}
ul.peque{
    height: 80px;
}
li {
    float: left;
    
}
.bar:hover{
    letter-spacing: 0.7rem;
    border: 1px solid #a70411 ;
    background-color: #a33c45;
    border-radius: 50px;
    text-shadow: 2px 2px 9px rgb(205, 205, 205);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.active{
    text-decoration: underline;
}
#logo{
    width: 100px;
    height: auto;
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    flex: 1 0 auto;
}
article{
    flex: 1 0 80%;
    display: flex;
    flex-wrap: wrap;
    
}
#menu{
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
#menu h1{
    font-size: 3rem;
    letter-spacing: 2rem;
}
article div img{
    width: 350px;
    height: 350px;
    display: block;
    transition: transform .4s;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}
article div img:hover{
    transform: scale(1.3); 
    transform-origin: 50% 50%;
}
.img{
    overflow: hidden;
}
aside{
    flex: 1 0 20%;
    background-color: black;
}
.img{
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
}
.div1{
    width: 350px;
}
details{
    z-index: 10;
    padding-left: 10px;
    width: 90%;
    margin: 0px;
    overflow: auto;

}
details summary{
    font-weight: bold;
    font-size: 1.3rem;
}
details p{
    width: 90%;
    text-align: justify;
    align-self: flex-start;
    font-size: 1rem;
}


/* Estilos para escritorio */
@media only screen and (min-width : 1200px) {
    header{
        height: 85vh;
    }
}

   /* Estilos para tablets en orientación horizontal */
@media only screen and (min-width : 1024px) and (max-width : 1399px) {
    ul{
        font-size: 1.5rem;
    }
    #menu h1{
        font-size: 2rem;
        letter-spacing: 1rem;
    }
}

   /* Estilos para tablets en orientación vertical */
@media only screen and (min-width : 768px) and (max-width : 1023px) {
    ul{
        font-size: 1.5rem;
    }
    #menu h1{
        font-size: 2rem;
        letter-spacing: 1rem;
    }
    
}

   /* Estilos para celulares en orientación horizontal */
@media only screen and (min-width : 481px) and (max-width : 767px) {
    ul{
        font-size: 1rem;
    }
    #logo{
        width: 90px;
        height: 90px;
        margin: 0px;
        padding: 0px;
    }
    #menu h1{
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }
    article{
        justify-content: center;
    }
}

   /* Estilos para celulares en orientación vertical */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    ul{
        font-size: 1rem;
    }
    #logo{
        width: 90px;
        height: 90px;
        margin: 0px;
        padding: 0px;
    }
    #menu h1{
        font-size: 2rem;
        letter-spacing: 1rem;
    }
    #menu h1{
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }
    article{
        justify-content: center;
    }
}